<div class="container">
  <%= form_with(model: blog, local: true, class: 'mb-3') do |form| %>
    <% if blog.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
        <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :content, class: 'form-label' %>
      <%= form.rich_text_area :content, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :status, class: 'form-label' %>
      <%= form.select :status, Blog.statuses.keys, {}, class: 'form-select' %>
    </div>

    <div class="mb-3">
      <%= form.label :image, class: 'form-label' %>
      <%= form.file_field :image, class: 'form-control' %>
    </div>

    <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</div>
