<div class="card article-card h-100 shadow-sm"> 
  <%= link_to blog, class: "text-decoration-none" do %>
    <div class="inner-card position-relative">
      <div class="image-container"> <%# Added image container for aspect ratio control %>
        <% if blog.image.attached? %>
          <%= image_tag(blog.image, class: "card-img-top rounded", size: "350x150") %>
        <% else %>
          <%= image_tag("sample_image.jpeg", class: "card-img-top rounded", alt: "Placeholder Image", size: "350x150" ) %>
        <% end %>
      </div>
      <div class="card-img-overlay d-flex flex-column justify-content-end p-3 bg-dark bg-opacity-50 rounded">
        <h5 class="card-title text-white fw-medium fs-5"><%= blog.title %></h5>
        <small class="card-font text-white"><i class="bi bi-calendar3 me-1"></i> <%= blog.created_at.strftime("%B %d, %Y") %></small>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text fs-014 card-font text-muted"><%= truncate(blog.content.to_plain_text, length: 120) %></p>
    </div>
    <div class="card-footer bg-white border-top-0">
      <small class="text-muted"> <%#= time_ago_in_words(blog.created_at) %> </small>
    </div>
  <% end %>
</div>
