
<main class="my-3 p-3 bg-body rounded shadow-sm">
  
  <section class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">StartupsOnRails.com</h1>
    
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
       The world’s best dev framework by entrepreneurs for entrepreneurs. Discover what's possible with the power of Rails.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </section>

  <!--Listing section -->
  <section class="">
    <div class="row mb-5">
      <div class="col-md-6">
        <h2>Hiring</h2>
        <ul class="list-group">
          <% @test_list.each do |comp|  %>
            <li class="list-group-item"><%= link_to comp.name, company_path(comp) %> </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Cool Cats</h2>
        <ul class="list-group">
          <% @cool_cats.each do |comp| %>
            <li class="list-group-item"> <%= link_to comp.name, company_path(comp) %></li>
          <% end %>
            
        </ul>
      </div>
    </div>
  
    <div class="row mb-5">
      <div class="col-md-6">
        <h2>Companies using HotWire</h2>
        <ul class="list-group">
          <% @hotwire.each do |comp|  %>
            <li class="list-group-item"><%= link_to comp.name, company_path(comp) %> </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Up and comers!</h2>
        <ul class="list-group">
        <ul class="list-group">
          <% @test_list.each do |comp|  %>
            <li class="list-group-item"><%= link_to comp.name, company_path(comp) %> </li>
          <% end %>
        </ul>
        </ul>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-6">
        <h2>Open Source</h2>
        <ul class="list-group">
          <% @test_list.each do |comp|  %>
            <li class="list-group-item"><%= link_to comp.name, company_path(comp) %> </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Top 100 Co's using rails</h2>
        <ul class="list-group">
          <% @cool_cats.each do |comp| %>
            <li class="list-group-item"> <%= link_to comp.name, company_path(comp) %></li>
            
          <% end %>
            
        </ul>
      </div>
    </div>
  </section>
  <!-- End of listing section -->
</main> 


