<div class="container py-5">
  <!-- Feature Companies -->
  <section class="featured-companies my-5 p-4 rounded">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="fs-3">Featured Companies</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4"> 
        <% @featured_companies.each do |company| %>
          <div class="col">
            <div class="company-card card shadow-sm"> 
              <%= link_to company_path(company), class: "text-decoration-none" do %>
                <div class="card-body d-flex flex-column"> 
                  <div class="d-flex align-items-center mb-3">
                    <% if company.logo.attached? %>
                      <%= image_tag company.logo, class: "rounded-circle me-3", style: "width: 75px; height: 75px; object-fit: cover;" %>
                    <% else %>
                      <i class="fas fa-building fa-2x me-3 text-primary"></i> 
                    <% end %>
                    <h5 class="card-title fs-5 fw-medium mb-0"><%= company.name %></h5>
                  </div>
                  <p class="card-text text-muted"><%= truncate(company.about, length: 120) %></p> 
                </div>
                <div class="card-footer bg-white border-top-0">
                  <div class="tags-list">
                    <ul class="list-inline mb-0">
                      <% 3.times do |i| %>
                        <li class="list-inline-item">
                          <span class="badge bg-light text-dark">#Tag<%= i + 1 %></span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div> 
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <!-- Featured Blogs -->
  <section class="my-5">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-3 fs-3">Recent Articles</h2>
        <%= link_to "More Articles", "#", class:"btn btn-link mt-1 fs-6" %> 
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 articles-row">
        <% @featured_blogs.each do |blog| %>
          <div class="col"> <%# Column for each article %>
            <%= render partial: "shared/article_card", locals: { blog: blog } %>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <!-- Popular Cities -->
  <section class="my-5">
    <h2 class="mb-3 fs-3">Popular Cities</h2>
    <% @companies_by_city.each_slice(4).with_index do |city_slice, index| %>
      <div class="row">
        <% city_slice.each do |city_name, companies| %>
          <div class="col-md-3 mb-3 mb-sm-3">
            <ol class="list-group custom-numbered-list">
              <!-- Special first item without number -->
              <li class="list-group-item border border-bottom-0 fs-5 text" style="list-style-type: none; position: relative;"><%= city_name.titleize %></li>
              <% companies.take(10).each do |comp| %>
                <li class="list-group-item company-logo-container" style="position: relative;">
                  <%= image_tag comp.logo, { class:"img-fluid ms-3", style:"max-width: 24px; max-height: 24px;" } if comp.logo.attached? %>
                  <%= link_to comp.name, company_path(comp), class:"ms-2" %>
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="icon-right">
                    <circle cx="256" cy="256" r="240" stroke="black" fill="none" stroke-width="32"/>
                    <path d="M232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" fill="black"/>
                  </svg>
                </li>
              <% end %>
            </ol>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>

  <!-- Popular Categories -->
  <section class="my-5">
    <h2 class="mb-3 fs-3">Popular Categories</h2>
    <% @companies_by_category.each_slice(4).with_index do |category_slice, index| %>
      <div class="row">
        <% category_slice.each do |category_name, companies| %>
          <div class="col-md-3 mb-3 mb-sm-3">
            <ol class="list-group custom-numbered-list">
              <!-- Special first item without number -->
              <li class="list-group-item border border-bottom-0 fs-5 text" style="list-style-type: none; position: relative;"><%= category_name.titleize %></li>
              <% companies.take(10).each do |comp| %>
                <li class="list-group-item company-logo-container" style="position: relative;">
                  <% if comp.logo.attached? %>
                    <%= image_tag comp.logo, { class:"img-fluid ms-3", style:"max-width: 24px; max-height: 24px;" } %>
                  <% else %>
                    <%= raw generate_svg_with_initials(comp.name, classes="ms-3", height='24', width='24') %>
                  <% end %>
                  <%= link_to comp.name, company_path(comp), class:"ms-2" %>
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="icon-right">
                    <circle cx="256" cy="256" r="240" stroke="black" fill="none" stroke-width="32"/>
                    <path d="M232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" fill="black"/>
                  </svg>
                </li>
              <% end %>
            </ol>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
</div>