<!-- Sponsors -->

<!-- end -->


<!-- Featured Articles -->
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="my-5">
                <h2>Related Post</h2>
            </div>
        </div>
        <% @featured_blogs.each do |blog| %>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                <!-- Card -->
                <div class="card mb-4 shadow-lg">
                    <div class="article-card p-3 m-1 gradient-bg-1">
                        <h3 class="card-title mb-3"><%= link_to blog.title, blog_path(blog), class: "text-reset" %></h3>
                        <p class="text-muted mb-1">Author:</p>
                        <p class="text-muted">Published: <%= blog.created_at.strftime("%b %d") %></p>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <p><%= sanitize(blog.content.to_s.truncate(100)) %></p>
                            <!-- Media content -->
                        <div class="row align-items-center g-0 mt-4">
                            <div class="col-auto">
                                <p class="fs-6 mb-0">12 Min Read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>


<!-- Categories Section -->
<section class="mt-6">
    <div class="container mb-lg-8">
        <div class="row">
            <div class="col-12">
                <div class="mb-4">
                    <h2 class="mb-1 h3 fw-normal">Popular Companies</h2>
                    <%# <p>These are the most popular courses among Geeks Courses learners worldwide in year 2022</p> %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Nav tab -->
                <ul class="nav nav-lb-tab mb-6 bg-gray-200 px-5 rounded-3" id="pills-tab" role="tablist">
                    <% @featured_categories.each_with_index do |(category, _), index| %>
                        <li class="nav-item <%= 'ms-0' if index.zero? %>" role="presentation">
                        <a class="nav-link <%= 'active' if index.zero? %>"
                            id="pills-<%= category.name.parameterize %>-tab"
                            data-bs-toggle="pill"
                            href="#pills-<%= category.name.parameterize %>"
                            role="tab"
                            aria-controls="pills-<%= category.name.parameterize %>"
                            aria-selected="<%= index.zero? %>">
                            <%= category.name.titleize %>
                        </a>
                        </li>
                    <% end %>
                </ul>
                
                <!-- Tab content -->
                <div class="tab-content" id="pills-tabContent">
                    <% @featured_categories.each_with_index do |(category, companies), index| %>
                        <div class="tab-pane fade <%= 'show active' if index.zero? %>"
                            id="pills-<%= category.name.parameterize %>"
                            role="tabpanel"
                            aria-labelledby="pills-<%= category.name.parameterize %>-tab">
                        <!-- row -->
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                            <% companies.each do |company| %>
                            <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                                <!-- card card-borderd  -->
                                <%= link_to company_path(company), class: "card h-100" do %>
                                <!-- card body  -->
                                <div class="card-body">
                                    <% if company.logo.present? %>
                                    <%= image_tag company.logo, alt: company.name, class: "icon-lg mb-3" %>
                                    <% end %>
                                    <h3><%= company.name %></h3>
                                    <p class="mb-0">Full platform of marketing, sales, other service.</p>
                                </div>
                                <% end %>
                            </div>
                            <% end %>
                        </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>