<div class="container py-5">
  <!-- hero section -->
  <section class=" my-5 p-4 rounded">
    <h2 class="mb-3 fs-3">Featured Companies</h2>
    <p>Explore the most popular tools in the Ruby on Rails ecosystem, utilized by industry leaders for development and production.</p>
    <div class="row">
      <% @featured_companies.each do |company| %>
        <div class="col-md-4">
          <div class="company-card card mb-5" style="max-width: 540px;" >
            <div class="m-4">
              <%= link_to company_path(company), class: "text-decoration-none" do %>
                <div card="company-card-header">
                  <div class="row">
                    <div class="col-md-3">
                      <%= image_tag company.logo, { class:"img-fluid "} if company.logo.attached? %>
                    </div>
                    <div class="col-md-9">
                      <h5 class="card-title fs-5 fw-medium"><%= company.name %> </h5>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="company-card-body mt-3">
                <p class="fs-09 text-reset fw-lighter">
                  <%= truncate(company.about, length: 120 ) %>
                </p>
              </div>
              <div class="tags-list">
                <ul class="list-inline">
                  <li class="list-inline-item ">
                    <%= link_to '#tag1', "#" , class:'' %>
                  </li>
                  <li class="list-inline-item fw-lighter">
                    <%= link_to '#tag2', "#" , class:'' %>
                  </li>
                  <li class="list-inline-item fw-lighter">
                    <%= link_to '#tag3', "#" , class:'' %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section> 

  <!-- Featured Blogs -->
  <section class="my-5">
    <div class="container">
      <h2 class="mb-3 fs-3">Recent articles</h2>
      <div class="row g-4 articles-row">
        <% @featured_blogs.each do |blog| %>
          <div class="col-md-4">
            <%= render partial: "shared/article_card", locals: { blog: blog } %>
          </div>
        <% end %>
      </div>
      <%= link_to "More Articles", "#", class:"btn btn-link mt-3 fs-6 float-end " %>
    </div>
  </section>

  <!-- Popular Cities -->
  <section class="my-5">
    <h2 class="mb-3 fs-3">Popular Cities</h2>
    <% @companies_by_city.each_slice(4).with_index do |city_slice, index| %>
      <div class="row">
        <% city_slice.each do |city_name, companies| %>
          <div class="col-md-3 mb-3 mb-sm-3">
            <ol class="list-group custom-numbered-list">
              <!-- Special first item without number -->
              <li class="list-group-item border border-bottom-0 fs-5 text" style="list-style-type: none; position: relative;"><%= city_name.titleize %></li>
              <% companies.take(10).each do |comp| %>
                <li class="list-group-item company-logo-container" style="position: relative;">
                  <%= image_tag comp.logo, { class:"img-fluid ms-3", style:"max-width: 24px; max-height: 24px;" } if comp.logo.attached? %>
                  <%= link_to comp.name, company_path(comp), class:"ms-2" %>
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="icon-right">
                    <circle cx="256" cy="256" r="240" stroke="black" fill="none" stroke-width="32"/>
                    <path d="M232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" fill="black"/>
                  </svg>
                </li>
              <% end %>
            </ol>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>

  <!-- Popular Categories -->
  <section class="my-5">
    <h2 class="mb-3 fs-3">Popular Categories</h2>
    <% @companies_by_category.each_slice(4).with_index do |category_slice, index| %>
      <div class="row">
        <% category_slice.each do |category_name, companies| %>
          <div class="col-md-3 mb-3 mb-sm-3">
            <ol class="list-group custom-numbered-list">
              <!-- Special first item without number -->
              <li class="list-group-item border border-bottom-0 fs-5 text" style="list-style-type: none; position: relative;"><%= category_name.titleize %></li>
              <% companies.take(10).each do |comp| %>
                <li class="list-group-item company-logo-container" style="position: relative;">
                  <% if comp.logo.attached? %>
                    <%= image_tag comp.logo, { class:"img-fluid ms-3", style:"max-width: 24px; max-height: 24px;" } %>
                  <% else %>
                    <%= raw generate_svg_with_initials(comp.name, classes="ms-3", height='24', width='24') %>
                  <% end %>
                  <%= link_to comp.name, company_path(comp), class:"ms-2" %>
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="icon-right">
                    <circle cx="256" cy="256" r="240" stroke="black" fill="none" stroke-width="32"/>
                    <path d="M232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" fill="black"/>
                  </svg>
                </li>
              <% end %>
            </ol>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>

  <footer class="text-center mt-5 pt-4">
      <p>Follow us on <a href="#" class="warm-color">Twitter</a>, <a href="#" class="warm-color">LinkedIn</a>, and <a href="#" class="warm-color">Facebook</a> to stay updated on the latest news and events.</p>
  </footer>
</div>