<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to StartupsOnRails.com</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
       The world’s best dev framework by entrepreneurs for entrepreneurs. Discover what's possible with the power of Rails.
        </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>

  </div>
  <br>
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Landing Page</title>
</head>
<body>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <h2>Hiring</h2>
        <ul class="list-group">
          <% @test_list.each do |comp|  %>
            <li class="list-group-item"><%= link_to comp.name, company_path(comp) %> </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Cool Cats</h2>
        <ul class="list-group">
          <% @cool_cats.each do |comp| %>
            <li class="list-group-item"> <%= link_to comp.name, company_path(comp) %></li>
          <% end %>
            
        </ul>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6">
        <h2>Companies using HotWire</h2>
        <ul class="list-group">
          <% @hotwire.each do |comp|  %>
            <li class="list-group-item"><%= link_to comp.name, company_path(comp) %> </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Up and comers!</h2>
        <ul class="list-group">
        <ul class="list-group">
          <% @test_list.each do |comp|  %>
            <li class="list-group-item"><%= link_to comp.name, company_path(comp) %> </li>
          <% end %>
        </ul>
        </ul>
      </div>
    </div>
        <div class="row mb-5">
      <div class="col-md-6">
        <h2>Open Source</h2>
        <ul class="list-group">
          <% @test_list.each do |comp|  %>
            <li class="list-group-item"><%= link_to comp.name, company_path(comp) %> </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Top 100 Co's using rails</h2>
        <ul class="list-group">
          <% @cool_cats.each do |comp| %>
            <li class="list-group-item"> <%= link_to comp.name, company_path(comp) %></li>
            
          <% end %>
            
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
  <br>
    <small class="d-block text-end mt-3">
      <a href="#"></a>
    </small>
</div> 


