<!-- Featured Articles -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="head-title">Featured Posts</h2>
      </div>
    </div>
    <div class="row">
      <% @featured_blogs.each do |blog| %>
        <div class="col-lg-4 col-md-6 mb-4">
          <!-- Card -->
          <div class="card shadow h-100">
            <% if blog.image.attached? %>
              <%= image_tag blog.image, class: "card-img-top", alt: blog.title %>
            <% else %>
              <div class="article-card gradient-bg-1 m-1">
                <h3 class="card-title">
                  <%= link_to blog.title, blog_path(blog.slug), class: "text-reset" %>
                </h3>
              </div>
            <% end %>
            <!-- Card body -->
            <div class="card-body d-flex flex-column">
              <h3 class="card-title">
                <%= link_to blog.title, blog_path(blog.slug), class: "text-reset" %>
              </h3>
              <p class="flex-grow-1"><%= truncate(strip_tags(blog.content.to_s), length: 100, escape: false) %></p>
              <p class="text-muted mb-0 text-end">Published: <%= blog.created_at.strftime("%b %d") %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Featured Categories Section -->
<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="head-title">Featured Categories</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tab -->
        <ul class="nav nav-pills mb-4 bg-white p-2 rounded-3" id="pills-tab" role="tablist">
          <% @featured_categories.each_with_index do |category, index| %>
            <li class="nav-item" role="presentation">
              <a class="nav-link <%= 'active' if index.zero? %>"
                 id="pills-<%= category.name.parameterize %>-tab"
                 data-bs-toggle="pill"
                 href="#pills-<%= category.name.parameterize %>"
                 role="tab"
                 aria-controls="pills-<%= category.name.parameterize %>"
                 aria-selected="<%= index.zero? %>">
                <%= category.name.titleize %>
              </a>
            </li>
          <% end %>
        </ul>
        
        <!-- Tab content -->
        <div class="tab-content" id="pills-tabContent">
          <% @featured_categories.each_with_index do |category, index| %>
            <div class="tab-pane fade <%= 'show active' if index.zero? %>"
                 id="pills-<%= category.name.parameterize %>"
                 role="tabpanel"
                 aria-labelledby="pills-<%= category.name.parameterize %>-tab">
              <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-3">
                <% category.companies.limit(6).each do |company| %>
                  <div class="col">
                    <%= link_to company_path(company), class: "card h-100 text-decoration-none" do %>
                      <div class="card-body text-center">
                        <% if company.logo.present? %>
                          <%= image_tag company.logo, alt: company.name, class: "img-fluid mb-3", style: "max-height: 50px;" %>
                        <% end %>
                        <h3 class="h6 mb-2"><%= company.name %></h3>
                        <p class="small text-muted mb-0">Full platform of marketing, sales, other service.</p>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="text-end mt-3">
                <%= link_to companies_path(category_id: category.id), class: "text-decoration-none" do %>
                  View all <%= category.name.titleize %> companies
                  <i class="fas fa-arrow-right ms-2"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Help Wanted - Open Source Issues -->

