


<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <%= form.label :name, "Company Name" , class: 'form-label' %> 
    <%= form.text_field :name, placeholder:"",  class: 'form-control ' %>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label  :url, "Company URL" , class: 'form-label' %> <br> 
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">https://www</span>
          <%= form.text_field :url, class: 'form-control' %>
        </div>
    </div>
    <div class="col-md-6">
      <%= form.label :email, "Company email", class: 'form-label' %>  <small>optional</small>
      <%= form.text_field :email, class: 'form-control' %>
    </div>
  </div>
  
  <div class="row mb-3">
    <%= form.label :about, "Company/project description" %>
    <%= form.text_area :about, class: "form-control" %>
  </div>

  <div class="row mb-3">
    <%= form.label :tech_stack, "Tec stac description" %>
    <%= form.text_area :tech_stack, class: "form-control" %>
  </div>
  <%= form.submit %>
<% end %>
