<section class="py-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-12">
        <div class="bg-white rounded-md-pill me-lg-8 shadow rounded-3">
          <!-- card body -->
          <div class="p-md-2 p-4">
            <!-- form -->
            <%= form_with url: companies_path, method: :get, data: { controller: "autocomplete popover" }, class: "row g-1" do |f| %>
              <div class="col-12 col-md-5">
                <div class="input-group mb-2 mb-md-0 border-md-0 border rounded-pill">
                  <span class="input-group-text bg-transparent border-0 pe-0 ps-md-3 ps-md-0" id="searchJob">
                    <i class="fas fa-search" style="width: 14px; height: 14px;"></i>
                  </span>
                  <%= f.search_field :query, placeholder: "Search companies...", class: "form-control rounded-pill border-0 ps-3 form-focus-none", "aria-label": "Search companies", "aria-describedby": "searchJob", data: { autocomplete_target: "input", action: "input->autocomplete#search" } %>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="input-group mb-3 mb-md-0 border-md-0 border rounded-pill">
                  <span class="input-group-text bg-transparent border-0 pe-0 ps-md-0" id="location">
                    <i class="fas fa-map-marker-alt" style="width: 16px; height: 16px;"></i>
                  </span>
                  <%= f.search_field :location, 
                      id: "location-search", 
                      placeholder: "Location", 
                      class: "form-control rounded-pill border-0 ps-3 form-focus-none", 
                      "aria-label": "Location", 
                      "aria-describedby": "location", 
                      style: "background-color: inherit;", 
                      data: { 
                        action: "input->autocomplete#search"
                      } 
                  %>
                </div>
              </div>
              <div class="col-12 col-md-3 text-end d-grid">
                <%= f.submit "Search", class: "btn btn-primary rounded-pill", data: { action: "click->autocomplete#search" } %>
              </div>
            <% end %>
            <ul data-autocomplete-target="results" class="list-group position-absolute mt-2"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4 mt-md-0">
        <%= render 'sidebar' %>
      </div>
      <div class="col-md-8">
        <%= render 'list', companies: @companies, pagy: @pagy %>
      </div>
    </div>
  </div>
</section>