<% content_for :twitter_card_meta do %>
  <%= render 'shared/twitter_card_meta', 
             title: @company.name,
             description: @company.about,
             image_url: @page_image_url %>
<% end %>

<section style="">
  <div class="container py-5">
    <div class="row">
       <!--  first col image, social links -->
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <% if @company.logo.attached? %>
              <%= image_tag @company.logo, class: "img-fluid rounded" %>
            <% else %>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
            <% end %>
            <h5 class="my-3 h2"><%= @company.name %></h5>
          </div>
        </div>
      </div>
      
       <!-- second col, company info -->
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title h2">Company Snapshot</h5>
            <p class="text-muted mb-3"><%= @company.about %></p>
            <div class="row">
              <div class="col-md-6">
                <ul class="list-unstyled">
                  <% if @company.location.present? %>
                    <li class="d-flex align-items-center">
                      <div class="me-3"> <i class="fas fa-map-marker-alt  text-dark-emphasis"></i> </div>
                      <div>
                        <%= @company.location %>
                      </div>
                    </li>
                  <% end %>
                  <%# if @company.size.present? %>
                    <li class="mt-2 d-flex align-items-center">
                      <div class="me-3"><i class="fas fa-users text-dark-emphasis"></i> </div>
                      <div>
                        <%#= @company.size %>
                      </div>
                    </li>
                  <%# end %>

                  <%# if @company.company_type.present? %>
                    <li class="mt-2 d-flex align-items-center">
                      <div class="me-3"><i class="fas fa-sitemap text-dark-emphasis"></i> </div>
                      <div>
                        <%#= @company.company_type %>
                      </div>
                    </li>
                  <%# end %>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-unstyled">
                  <% if @company.email.present? %>
                    <li class="d-flex align-items-center">
                      <div class="me-3"><i class="fas fa-envelope text-dark-emphasis"></i></div>
                      <div>
                        <%= @company.email %>
                      </div>
                    </li>
                  <% end %>
                  <% if @company.url.present? %>
                    <li class="mt-2 d-flex align-items-center">
                      <div class="me-3"><i class="fas fa-link text-dark-emphasis"></i></div>
                    <div>
                      <%= link_to @company.url, @company.url, target: "_blank" %>
                      </div>
                    </li>
                  <% end %>
                  <% if @company.tech_stack.present? %>
                    <li class="mt-2 d-flex align-items-center">
                      <div class="me-3"><i class="fas fa-code text-dark-emphasis"></i></div>
                      <div>
                        <%= @company.tech_stack %>
                      </div>
                    </li>
                  <% end %>
                  <li class="mt-2 d-flex align-items-center">
                    <div class="me-3"><i class="fas fa-user-circle text-dark-emphasis"></i></div>
                    <div>
                      <%#= @company.user.name %>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!--tech stack -->
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title mb-4 h2">Tech Stack</h5>
            <div class="row">
              <div class="col-6 col-md-3 mb-4">
                <div class="text-center">
                  <div class="card-body">
                    <%= image_tag "logos/rails.svg", alt: 'Ruby on Rails Icon', class: 'img-fluid mb-3 round', style: 'max-width: 45px; width: 100%;' %>
                    <h6 class="card-title">Ruby on Rails</h6>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 mb-4">
                <div class="text-center">
                  <div class="">
                    <%= image_tag "logos/ruby.svg", alt: 'Ruby Icon', class: 'img-fluid mb-3 round', style: 'max-width: 45px; width: 100%;' %>
                    <h6 class="card-title">Ruby</h6>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 mb-4">
                <div class="text-center">
                  <div class="">
                    <i class="fab fa-js-square fa-3x text-warning mb-3" style="font-size: min(3em, 10vw);"></i>
                    <h6 class="card-title">JavaScript</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- New section for showcasing open-source software -->
        <div class="mt-4">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title h2">Sponsorships & Contributions</h5>
              <p class="text-muted mb-4">We believe in giving back to the open source community. These are some of the projects we proudly support and use:</p>
              <div class="row">
                <% if @contributions.any? %>
                  <% @contributions.each do |contribution| %>
                    <div class="col-md-6 mb-4">
                      <div class="card h-100">
                        <div class="card-body d-flex flex-column align-items-start">
                          <%= image_tag contribution.icon_url, alt: "#{contribution.name} Logo", class: "img-fluid mb-3 rounded", style: "width: 50px;" %>
                          <h6 class="card-title"><%= contribution.name %></h6>
                          <p class="card-text text-muted"><%= truncate(contribution.description, length: 100) %></p>
                          <div class="mt-auto">
                            <span class="badge bg-light text-dark me-2">
                              <i class="fab fa-github"></i> <%= number_with_delimiter(contribution.stars) %> Stars 
                            </span>
                            <span class="badge bg-light text-dark">
                              <i class="fas fa-code-branch"></i> <%= number_with_delimiter(contribution.forks) %> Forks
                            </span>
                          </div>
                        </div>
                        <%= link_to "", contribution.github_url, target: "_blank", class: "stretched-link" %>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="col-12">
                    <p class="text-muted">No contributions have been added yet.</p>
                  </div>
                <% end %>
              </div>
              <% if user_signed_in? && current_user.admin? %>
                <div class="mt-4">
                  <h6>Add New Contribution</h6>
                  <%= render 'contributions/form' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Admin links -->
    <% if user_signed_in? && current_user.admin? %>
      <nav class="navbar navbar-light bg-light mb-4">
        <div class="container-fluid">
          <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item me-3">
              <%= link_to 'Edit', edit_company_path(@company), class: 'nav-link' %>
            </li>
            <li class="nav-item me-3">
              <%= link_to 'Delete', @company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link' %>
            </li>
            <% Company.statuses.keys.each do |status| %>
              <% unless @company.status == status %>
                <li class="nav-item me-3">
                  <%= form_with url: update_status_company_path(@company, status: status), method: :patch, local: true do |form| %>
                    <%= form.submit "Set as #{status.titleize}", data: { confirm: "Are you sure you want to change the status to #{status.titleize}?" }, class: "nav-link btn btn-link p-0" %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </nav>
    <% end %>
  </div>
</section>