<div class="container">
  <h1>Category: <%= @category.name %></h1>

  <%= form_with url: category_companies_path(@category), method: :post, data: { controller: "category-autocomplete" } do |f| %>
    <div class="field">
      <%= f.label :company_name, "Enter a company name to add" %>
      <%= f.text_field :company_name, data: { 
        category_autocomplete_target: "input",
        action: "input->category-autocomplete#search"
      } %>
      <%= f.hidden_field :company_id %>
    </div>

    <div data-category-autocomplete-target="results" class="autocomplete-results"></div>

    <div class="actions">
      <%= f.submit "Add Company" %>
    </div>
  <% end %>

  <% @category.companies.each do |company| %>
    <%= company.name %>
    <%= button_to 'Remove', remove_company_category_path(@category, company_id: company.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
  <% end %>
</div>
