<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'StartupsOnRails' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
    <%= stylesheet_link_tag "theme.min", media: "all" %>

    <script src="https://kit.fontawesome.com/c211385aec.js" crossorigin="anonymous"></script>

    <%= render 'shared/twitter_card_meta', 
               title: content_for?(:title) ? yield(:title) : 'StartupsOnRails',
               description: content_for?(:description) ? yield(:description) : 'Discover and learn about startups built with Ruby on Rails',
               image_url: content_for?(:image_url) ? yield(:image_url) : default_svg_image_url %>

    <%= yield :head %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
