<!DOCTYPE html>
<html>
  <head>
    <title>StartupsOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   <script src="https://kit.fontawesome.com/c211385aec.js" crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GHBH75TQ4Y" data-turbo-track="reload"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GHBH75TQ4Y');
    </script>
  </head>

  <body class="">
    <div class="container-fluid">
      <% if user_signed_in? && current_user.admin? %>
        <%= render 'shared/admin_navbar' %>
      <% else %>
         <%= render 'shared/navbar' %>
      <% end %>
       <span class="notice"><%= notice %></span>
       <span class="alert"><%= alert %></span>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
