<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'StartupsOnRails' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
    <%= stylesheet_link_tag "theme.min", media: "all" %>

    <script src="https://kit.fontawesome.com/c211385aec.js" crossorigin="anonymous"></script>

 

    <%= yield :head %>

  </head>

  <body>
    <% if Rails.env.development? %>
      <%= console %>
    <% end %>
    <%= yield %>
  </body>
</html>
