<!DOCTYPE html>
<html>
  <head>
    <title>StartupsOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   <script src="https://kit.fontawesome.com/c211385aec.js" crossorigin="anonymous"></script>

  </head>

  <body class="">
    <div class="container-fluid">
      <% if user_signed_in? && current_user.admin? %>
        <%= render 'shared/admin_navbar' %>
      <% else %>
         <%= render 'shared/navbar' %>
      <% end %>
       <span class="notice"><%= notice %></span>
       <span class="alert"><%= alert %></span>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
